:root {
  --page-margin: 40px;
  --accent-color: hsl(266, 45%, 52%);
}

body {
  font-family: VK Sans Display, monospace;
}

.about_us-header {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(18deg, #fff 350px, #c497f0 1000px);
  gap: 20px;
}

@media (width <= 950px) {
  .about_us-header {
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
  }
}

.decorative-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about_us-header-title {
  font-weight: 900;
  text-align: center;
  font-size: 100px;
  transition: color 0.5s;
  opacity: 0;
}

.about_us-header-title {
  transition: opacity 1s 2s;
  opacity: 1;
  transition-timing-function: ease; 
}


.header-text {
  max-width: 60%;
  font-size: 20px;
  text-align: center;
  opacity: 0;
}

.header-text {
  opacity: 1;
  transition: opacity 1s 4s;
  transition-delay: 4s;
  transition-timing-function: ease; 
}

.marginning {
  margin: 0 var(--page-margin);
}


.section {
  margin-block-start: 20px;
  margin-block-end: 70px;
}

.section-subtitle {
  display: block;
  text-align: center;
  font-size: 40px;
  min-width: 40%;
  color: #000;
  margin-block-end: 10px;
}

.section-subtitle:hover {
  color: #7642aa;
  box-shadow: #c497f0;
  transition: color 0.3s;
}

@media (width > 700) {
  .section-subtitle {
    align-items: start;
    display: flex;
    justify-content: center;
  }
}

.our-team {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-left: 13%;
  margin-right: 13%;
}


@media (width > 700px) {
  .our-team {
    display: flex;
    gap: 20px;
    flex-direction: row;
    margin-left: 13%;
    margin-right: 13%;
  }
}


.our-team-container {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
  width: 100%;
}

.list-item {
  width: 100%;
}

.team-member-card {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 100%;
  height: fit-content;
  border: 1px solid rgb(196, 191, 191);
  background-color: #fff;
  padding: 20px;
  transition: box-shadow 0.3s;
  border-radius: 20px;
}

.member-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.member-stack {
  background-color: #7642aa;
  color:#fff;
  min-width: 50px;
  width: fit-content;
  padding: 0 10px;
  border-radius: 10px;
}

@media (width >= 1185px) {
  .team-member-card {
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }

  .member-stack {
    border-radius: 0;
    padding: 0;
    color: #000;
    background-color: transparent;
    justify-self: end;
    justify-self: end;
    min-width: 50px;
  }
}

.team-member-card:hover {
  box-shadow: 4px 9px 21px 3px rgba(34, 60, 80, 0.2);
  transition: box-shadow 0.3s;
  border-color: #c497f0;
  transition: border-color 0.5s;
}

.team-member-name {
  font-weight: 600;
  color: var(--accent-color);
  font-size: 1.5rem;
  line-height: normal;
}

.our-goals {
  height: 100vh;
  display: flex;
  gap: 70px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.goals-section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border: 1px solid #7642aa;
  padding: 20px;
}

.section.why {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1064px;
  margin: auto;
}

.section-subtitle.why {
  font-size: 70px;
}

.reasons-list {
  list-style: lower-greek;
  display: flex;
  margin-left: auto;
  flex-direction: column;
  gap: 20px;
}

.reasons-list-item::marker {
  color: goldenrod;
}

.reasons-list-item {
  transition: transform 0.5s;
}

.reasons-list-item:hover {
  transform: scale(1.5);
}

.our-mission {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  max-width: 800px;
  margin-top: 100px;
}

.section-subtitle.our-mission {
  color:#7642aa;
}

.section-subtitle.our-mission:hover {
  color: orange;
}

.footer {
  height: 25vh;
  background-color: white;
}